MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xyjhu3o.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=student_analytics
# Or use separate values instead of MONGODB_URI:
# MONGODB_USERNAME=KerollosNabil10
# MONGODB_PASSWORD=your_password_here
# MONGODB_HOST=cluster0.xyjhu3o.mongodb.net
